<h2>출퇴근 현황</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>date</th>
        <th>name_workplace</th>
        <th>smartphone_address</th>
    </tr>
    </thead>
    <tbody>
    <div id="circumstance-table-body">
        <%
        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
        %>
        <tr>
            <td>
                <%=row.time %>
            </td>
            <td>
                <%=row.name_workplace %>
            </td>
            <td>
                <%=row.smartphone_address %>
            </td>
        </tr>
        <%
        }
        %>
    </div>
    </tbody>
</table>