<div class="text-center">
    <p>
    <h1><%= title %></h1>
    <h3>
        프로젝트 임시 사용자 웹사이트<br>
    </h3>
    <h4>
        <% if (employee_number) { %>
        사원번호: <b><%= employee_number %></b><br>
        스마트폰 블루투스 주소: <b><%= smartphone_address %></b>
        <% } %>
    </h4>
    </p>
</div>
<div class="text-right">
    <a href=".">Home</a> |
    <% if (employee_number) { %>
    <a href="logout">Logout</a> |
    <a href="add_workplace">Add Workplace</a>
    <% } else { %>
    <a href="login">Login</a> |
    <a href="add_user">Add User</a>
    <% } %>
</div>