<div class="tab-content">
    <div id="home" class="tab-pane fade in active" align="center">
        <img src="207lab.jpg" style="width:650px;height:300px;">
    </div>

    <div id="main-info-container">

    </div>

    <div id="tptable" class="tab-pane fade">
        <h3>시간장소</h3>
        <div class="col-sm-5 text-left">
            <% include charts/d3_time_place.ejs %>
        </div>
    </div>
    <div id="pmtable" class="tab-pane fade">
        <h3>장소이동</h3>
        <div class="col-sm-5 text-left">
            <!--장소-이동 d3를 여기에-->
        </div>
    </div>
    <div id="wptable" class="tab-pane fade">
        <h3>요일장소</h3>
        <div class="col-sm-5 text-left">
            <!--요일-장소 d3를 여기에-->
        </div>
    </div>

</div>