<div class="tab-content">
    <div id="home" class="tab-pane fade in active" align="center">
        <img src="207lab.jpg" style="width:650px;height:300px;">
        <br><br><br>
    </div>

    <div id="beaconlist" class="tab-pane fade">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="text-center">비콘 목록</h4>
            </div>
            <div id="main-beacon-list" class="main-list panel-body pre-scrollable">

            </div>
            <div class="panel-footer"><ul class="nav nav-justified"><li><a data-toggle="tab" href="#addbeacon">추가</a></li></ul></div>
        </div>
    </div>

    <div id="workplacelist" class="tab-pane fade">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="text-center">작업장 목록</h4>
            </div>
            <div id="main-workplace-list" class="main-list panel-body pre-scrollable">

            </div>
            <div class="panel-footer"><ul class="nav nav-justified"><li><a data-toggle="tab" href="#addworkplace">추가</a></li></ul></div>
        </div>
    </div>

    <div id="employeelist" class="tab-pane fade">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="text-center">직원 목록</h4>
            </div>
            <div id="main-employee-list" class="main-list panel-body pre-scrollable">

            </div>
            <div class="panel-footer"><ul class="nav nav-justified"><li><a data-toggle="tab" href="#addemployee">추가</a></li></ul></div>
        </div>
    </div>

    <div id="beacon_detail" class="tab-pane fade">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">여기 그 클릭한 비콘이름</div>
            <div class="panel-body">
                비콘 세부정보가 여기에!!
                <!--여기에 db를 가져와야해요-->
            </div>
            <div class="panel-footer"><ul class="nav nav-justified"><li><a data-toggle="tab" href="#">수정</a></li><li><a data-toggle="tab" href="#">삭제</a></li></ul></div>
        </div>
    </div>

    <div id="workplace_detail" class="tab-pane fade">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">여기 그 클릭한 작업장이름</div>
            <div class="panel-body">
                작업장 세부정보가 여기에!!
                <!--여기에 db를 가져와야해요-->
            </div>
            <div class="panel-footer"><ul class="nav nav-justified"><li><a data-toggle="tab" href="#">수정</a></li><li><a data-toggle="tab" href="#">삭제</a></li></ul></div>
        </div>
    </div>

    <div id="employee_detail" class="tab-pane fade">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">백소영</div>
            <div class="panel-body">
                이쁘고 착하고 귀엽고 깜찍한
                <!--여기에 db를 가져와야해요-->
            </div>
            <div class="panel-footer"><ul class="nav nav-justified"><li><a data-toggle="tab" href="#">수정</a></li><li><a data-toggle="tab" href="#">삭제</a></li></ul></div>
        </div>
    </div>

    <div id="addbeacon" class="tab-pane fade">
        <% include beacon/add_beacon.ejs %>
    </div>
    <div id="addemployee" class="tab-pane fade">
        <% include employee/add_employee.ejs %>
    </div>
    <div id="addworkplace" class="tab-pane fade">
        <% include workplace/add_workplace.ejs %>
    </div>
    <div id="tptable" class="tab-pane fade">
        <h3>시간장소</h3>
        <div class="col-sm-5 text-left">
            <!--시간-장소 d3를 여기에-->
        </div>
    </div>
    <div id="pmtable" class="tab-pane fade">
        <h3>장소이동</h3>
        <div class="col-sm-5 text-left">
            <!--장소-이동 d3를 여기에-->
        </div>
    </div>
    <div id="wptable" class="tab-pane fade">
        <h3>요일장소</h3>
        <div class="col-sm-5 text-left">
            <!--요일-장소 d3를 여기에-->
        </div>
    </div>

    <div id="presentation" class="tab-pane fade">
        <h3>출퇴근 테이블</h3>
        <div class="col-sm-5 text-left">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>date</th>
                    <th>name_workplace</th>
                    <th>smartphone_address</th>
                </tr>
                </thead>
                <tbody>
                <div id="circumstance-table-body">
                    <%
                    for (var i = 0; i < rows.length; i++) {
                        var row = rows[i];
                    %>
                    <tr>
                        <td>
                            <%=row.time %>
                        </td>
                        <td>
                            <%=row.name_workplace %>
                        </td>
                        <td>
                            <%=row.smartphone_address %>
                        </td>
                    </tr>
                    <%
                    }
                    %>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>