<br>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="text-center">작업장 목록</h4>
    </div>
    <div class="panel-body pre-scrollable main-info-list">
        <a data-toggle="tab" href="#workplace_detail">207</a>
    </div>
    <div class="panel-footer">
        <ul class="nav nav-justified">
            <li><a data-toggle="tab" href="#addworkplace">추가</a></li>
        </ul>
    </div>
</div>

<div id="workplace_detail" class="tab-pane fade">
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">여기 그 클릭한 작업장이름</div>
        <div class="panel-body">
            작업장 세부정보가 여기에!!
            <!--여기에 db를 가져와야해요-->
        </div>
        <div class="panel-footer"><ul class="nav nav-justified"><li><a data-toggle="tab" href="#">수정</a></li><li><a data-toggle="tab" href="#">삭제</a></li></ul></div>
    </div>
</div>

<div id="addworkplace" class="tab-pane fade">
    <h3>작업장 추가</h3>
    <form action="#">
        <label for="name">Name</label>
        <input class="af" type="text" id="name" name="n">

        <label for="location">Location</label>
        <select class="af" id="location" name="lo">
            <option value="A">A</option>
            <option value="B">B</option>
        </select>

        <input class="af" type="submit" value="Submit">
    </form>
</div>

