<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">207Lab</a>
</div>
<div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav"><!--버튼 여기서 추가-->
        <li><a data-toggle="tab" href="#sidenav-log">출퇴근기록</a></li>
        <%
        if (admin) { %>
                <li class="dropdown"><a data-toggle="tab" href="#sidenav-management">관리</a></li>
        <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="logout">로그아웃</a></li>
    </ul>
</div>