<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<h1><%= title %></h1>
<p>Hello! <% if (employee_number) { %><b><%= employee_number %></b><% } %></p>
<a href=".">Home</a> |
<% if (employee_number) { %>
<a href="logout">Logout</a> |
<a href="add_workplace">Add Workplace</a>
<% } else { %>
<a href="login">Login</a> |
<a href="add_user">Add User</a>
<% } %>
<br><br>
<form method="post">
    name_workplace: <br><input type="text" name="name_workplace" required><br>
    location_workplace: <br><input type="text" name="location_workplace" required><br>
    UUID: <br><input type="text" name="uuid" required><br>
    gateway_address: <br><input type="text" name="gateway_address" required><br>
    <input type="submit" value="Register"><br>
</form>
</body>
</html>