<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<h1><%= title %></h1>
<p>Hello! <% if (employee_number) { %><b><%= employee_number %></b><% } %></p>
<a href=".">Home</a> |
<% if (employee_number) { %>
<a href="logout">Logout</a> |
<a href="add_workplace">Add Workplace</a>
<% } else { %>
<a href="login">Login</a> |
<a href="add_user">Add User</a>
<% } %>
<br><br>
<form method="post">
    employee_number: <br><input type="text" name="employee_number" required><br>
    name: <br><input type="text" name="name" required><br>
    password: <br><input type="password" name="password" required><br>
    Retype-Password: <br><input type="password" name="retype_password" required><br>
    department: <br><input type="text" name="department" required><br>
    position: <br><input type="text" name="position" required><br>
    permission:<input type="checkbox" name="permission">Admin<br>
    smartphone_address: <br><input type="text" name="smartphone_address" required><br>
    <input type="submit" value="Register"><br>
</form>
</body>
</html>