<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project_CM</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">


</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="dashboard" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>207LAB</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Suwon univ</b></span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>


            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- left-head side picture part -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">이름 </span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                                <p>
                                    이름 - 직급(또는 부서)
                                    <small>근무시작일</small>
                                </p>

                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="logout" class="btn btn-default btn-flat">로그아웃</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->

                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>이름</p>
                    <!-- Status -->
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>



            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="header">Suwon university(회사이름)</li>
                <!-- Optionally, you can add icons to the links -->

                <li class="active"><a href="dashboard"><i class="fa fa-bell"></i> <span> 메인페이지</span></a></li>
                <!--                   http://14.63.219.156/dashboard                 -->
                <li><a href="profile"><i class="fa fa-user"></i> <span> 개인정보수정</span></a></li>
                <!--                   http://14.63.219.156/profile                   -->
                <li><a href="member"><i class="fa fa-thumbs-up"></i> <span> 직원관리</span></a></li>
                <!--                   http://14.63.219.156/member                    -->

                <li><a href="workplace"><i class="fa fa-square"></i> <span> 사무실관리</span></a></li>
                <!--                  http://14.63.219.156/workplace                  -->



                <!-- 근무기록조회 사이드바 -->
                <li class="treeview">
                    <a href="manageworks">
                        <!-- http://14.63.219.156/manageworks -->
                        <i class="fa fa-search"></i>
                        <span> 근무기록조회</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="d3chart1"><i class="fa fa-circle-o"></i>사무실이동현황</a></li>
                        <!-- 14.63.219.156/d3chart1 -->
                        <li><a href="d3chart2"><i class="fa fa-circle-o"></i>직원근무현황</a></li>
                        <!-- 14.63.219.156/d3chart2 -->
                    </ul>
                </li>



                <!-- 관리 사이드바-->
                <li class="treeview">
                    <a href="permissiom">
                        <!-- 14.63.219.156/permission-->
                        <i class="fa fa-user-plus"></i>
                        <span> 관리</span>
                        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="beacon"><i class="fa fa-circle-o"></i>가입허가</a></li>
                        <!-- 14.63.219.156/permission -->
                        <li><a href="permission"><i class="fa fa-circle-o"></i>비콘관리</a></li>
                        <!-- 14.63.219.156/beacon -->
                    </ul>
                </li>
            </ul>


            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->


        <!-- Main content -->
        <section class="content">
            <div>
                <meta charset="utf-8">
                <style>
                    svg {
                        font: 10px sans-serif;
                    }

                    .y.axis path {
                        display: none;
                    }

                    .y.axis line {
                        stroke: #fff;
                        stroke-opacity: .2;
                        shape-rendering: crispEdges;
                    }

                    .y.axis .zero line {
                        stroke: #000;
                        stroke-opacity: 1;
                    }

                    .title {
                        font: 300 78px Helvetica Neue;
                        fill: #666;
                    }

                    .birthw_count,
                    .week {
                        text-anchor: middle;
                    }

                    .birthw_count {
                        fill: #fff;
                    }

                    rect {
                        fill-opacity: .6;
                        fill: #e377c2;
                    }

                    rect:first-child {
                        fill: #1f77b4;
                    }

                </style>
                <script src="//d3js.org/d3.v3.min.js"></script>
                <script>

                    var margin = {top: 0, right: 0, bottom: 0, left: 0},
                            width = 960 - margin.left - margin.right, // 900
                            height = 500 - margin.top - margin.bottom, //  450
                            barWidth = Math.floor(width / 7) - 1; // (47) - 1 => 46

                    var x = d3.scale.linear()
                            .range([barWidth / 2, width - barWidth / 2]); // 23, 867

                    var y = d3.scale.linear()
                            .range([height, 0]); // 450, 0

                    var yAxis = d3.svg.axis()
                            .scale(y)

                            .tickSize(-width) // -900
                            .tickFormat(function(d) { return Math.round(d) + "H"; }); // d / 1 * 10^6


                    // An SVG element with a bottom-right origin.
                    var svg = d3.select("body").append("svg")
                            .attr("width", width + margin.left + margin.right) //960?
                            .attr("height", height + margin.top + margin.bottom) //500?
                            .append("g")
                            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                    // A sliding container to hold the bars by birthw_count.
                    var birthw_counts = svg.append("g")
                            .attr("class", "birthw_counts");

                    var weeks = 34;

                    // A label for the current w_count.
                    var title = svg.append("text")
                            .attr("class", "title")
                            .attr("dy", ".71em")
                            .text(weeks + "weeks");

                    d3.csv("population2.csv", function(error, data) {

                        // Convert strings to numbers. Using + operator.
                        data.forEach(function(d) {
                            d.worktime = +d.worktime;
                            d.w_count = +d.w_count;
                            d.week = +d.week;
                        });

                        // Compute the extent of the data set in week and w_counts.
                        var week1 = d3.max(data, function(d) { return d.week; }),//max week: 90
                                w_count0 = d3.min(data, function(d) { return d.w_count; }),//min w_count: 1850
                                w_count1 = d3.max(data, function(d) { return d.w_count; }),//max w_count: 2000
                                w_count = w_count1;

                        // Update the scale domains.
                        x.domain([w_count1-week1,w_count1]);//1910,2000
                        y.domain([0, 24]);//0,11M??

                        // Produce a map from w_count and birthw_count to [male, female].
                        data = d3.nest()
                                .key(function(d) { return d.w_count; })
                                .key(function(d) { return d.w_count - d.week; })
                                .rollup(function(v) { return v.map(function(d) { return d.worktime; }); })
                                .map(data);

                        // Add an axis to show the population values.
                        svg.append("g")
                                .attr("class", "y axis")
                                .attr("transform", "translate(" + width + ",0)")
                                .call(yAxis)
                                .selectAll("g")
                                .filter(function(value) { return !value; })
                                .classed("zero", true);

                        // Add labeled rects for each birthw_count (so that no enter or exit is required).
                        var birthw_count = birthw_counts.selectAll(".birthw_count")
                                .data(d3.range(w_count0 - week1, w_count1 + 1))
                                .enter().append("g")
                                .attr("class", "birthw_count")
                                .attr("transform", function(birthw_count) { return "translate(" + x(birthw_count) + ",0)"; });

                        birthw_count.selectAll("rect")
                                .data(function(birthw_count) { return data[w_count][birthw_count] || [0, 0]; })
                                .enter().append("rect")
                                .attr("x", -barWidth / 2)
                                .attr("width", barWidth)
                                .attr("y", y)
                                .attr("height", function(value) { return height - y(value); });

                        // Add labels to show birthw_count.
                        birthw_count.append("text")
                                .attr("y", height - 4)
                                .text(function(birthw_count) { return birthw_count; });

                        // Add labels to show week (separate; not animated).
                        svg.selectAll(".week")
                                .data(d3.range(0, week1 + 1, 1))
                                .enter().append("text")
                                .attr("class", "week")
                                .attr("x", function(week) { return x(w_count - week); })
                                .attr("y", height + 4)
                                .attr("dy", ".71em")
                                .text(function(week) { return week; });

                        // Allow the arrow keys to change the displayed w_count.
                        window.focus();
                        d3.select(window).on("keydown", function() {
                            var w_count_after;
                            switch (d3.event.keyCode) {
                                case 37:
                                    switch(w_count%100) {
                                        case 31: w_count_after = w_count-130; break;
                                        case 30: w_count_after = w_count-129; break;
                                        default: w_count_after = w_count - 7;
                                    }
                                    w_count = Math.max(w_count0, w_count_after); weeks--; break;
                                case 39:
                                    switch(w_count%100) {
                                        case 31: w_count_after = w_count+70; break;
                                        case 30: w_count_after = w_count+71; break;
                                        default: w_count_after = w_count + 7;
                                    }
                                    w_count = Math.min(w_count1, w_count_after); weeks++; break;
                            }
                            update();
                        });

                        function update() {
                            if (!(w_count in data)) return;
                            title.text(weeks+ "weeks");

                            birthw_counts.transition()
                                    .duration(750)
                                    .attr("transform", "translate(" + (x(w_count1) - x(w_count)) + ",0)");

                            birthw_count.selectAll("rect")
                                    .data(function(birthw_count) { return data[w_count][birthw_count] || [0, 0]; })
                                    .transition()
                                    .duration(750)
                                    .attr("y", y)
                                    .attr("height", function(value) { return height - y(value); });
                        }
                    });


                </script>

            </div>

        </section>


        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">

        </div>
        <!-- Default to the left -->
        <strong>IOT Project &copy;  <a href="#">207LAB</a></strong> of Suwon university
    </footer>


    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>
<script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<script>

    $(document).ready(function(e){
        $('.search-panel .dropdown-menu').find('a').click(function(e) {
            e.preventDefault();
            var param = $(this).attr("href").replace("#","");
            var concept = $(this).text();
            $('.search-panel span#search_concept').text(concept);
            $('.input-group #search_param').val(param);
        });
    });

</script>

<script>

    $(document).ready(function(){
        $("#mytable #checkall").click(function () {
            if ($("#mytable #checkall").is(':checked')) {
                $("#mytable input[type=checkbox]").each(function () {
                    $(this).prop("checked", true);
                });

            } else {
                $("#mytable input[type=checkbox]").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

        $("[data-toggle=tooltip]").tooltip();
    });


</script>
</body>
</html>
