<!-- Main Footer -->
<footer class="main-footer">

    <!-- To the right -->
    <div class="pull-right hidden-xs">
        <br>
        Powered by <b><a href="https://almsaeedstudio.com/" target="_blank">AdminLTE</a></b><br>
    </div>

    <!-- Default to the left -->
    <strong>Hanium IoT Project &copy; <a href="dashboard">207LAB</a></strong> of Suwon Univ.<br>
    <strong>Github Repository</strong>: <a href="https://github.com/awesometic/207lab_iot_project" target="_blank">207lab_iot_project</a>

</footer>