<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <style>
        /* http://webdir.tistory.com/31 */
        #logo {
            width: 650px;
            height: 300px;
        }
        #main {
            height: 100%;
            text-align: center;
        }
        #main:before {
            content: "";
            display: inline-block;
            width: 1px;
            height: 100%;
            margin-right: 0;
            vertical-align: middle;
        }
        #content {
            display: inline-block;
        }
    </style>
</head>
<body>
<div id="body">
    <div id="main" class="container-fluid">
        <div id="header">

        </div>
        <div id="content">
            <img id="logo" src="207lab.jpg">
            <% include partials/login_join.ejs %>
        </div>
    </div>
</div>
<div id="footer">
    <% include partials/footer.ejs %>
</div>
</body>
</html>