<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <h1><p><% if (lab_desc) { %><%= lab_desc %><% } %></p></h1>
        <p>Hello! <% if (user_id) { %><b><%= user_id %></b><% } %></p>
        <a href=".">Home</a> |
        <% if (user_id) { %>
            <a href="logout">Logout</a>
        <% } else { %>
            <a href="login">login</a> |
            <a href="add_user">Add User</a>
        <% } %>
        <br><br>
    </body>
</html>
