<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/side_menu.ejs %>
<div class="container-fluid text-center">
    <br><br><br><br>
    <div align="center">
        <img src="207lab.jpg" style="width:650px;height:300px;">
        <% include partials/login_join.ejs %>
    </div>
    <br><br><br><br><br><br>
</div>
<footer>
    <% include partials/footer.ejs %>
</footer>
</body>
</html>