<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<div id="body">
    <div id="nav">
        <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
            <% include partials/menu.ejs %>
        </nav>
    </div>
    <div id="main" class="container-fluid">
        <div id="wrapper-row" class="row">
            <div id="sidenav" class="col-sm-2 sidenav">
                <% include partials/side_menu.ejs %>
            </div>
            <div id="container" class="col-sm-10 col-md-offset-2 content">
                <div id="header">

                </div>
                <div id="content">
                    <% include partials/maindiv.ejs %>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <% include partials/footer.ejs %>
</div>
</body>
</html>