<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p><%= userInfo.name %></p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header text-center"><%= companyName %></li>
            <!-- Optionally, you can add icons to the links -->

            <li class=""><a href="/dashboard"><i class="fa fa-bell"></i><span> 요약 정보</span></a></li>
            <!--<li><a href="profile"><i class="fa fa-user"></i><span> 개인 정보</span></a></li>-->

            <% if (userInfo.permission) { %>
            <!-- 근무기록조회 사이드바 -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-search"></i><span> 근무 기록 조회</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/circumstance/d3chart1"><i class="fa fa-circle-o"></i> 사무실 이동 현황</a></li>
                    <li><a href="/circumstance/d3chart2"><i class="fa fa-circle-o"></i> 직원 근무 현황</a></li>
                    <li><a href="/circumstance/commute_result"><i class="fa fa-circle-o"></i> 출퇴근 현황</a></li>
                </ul>
            </li>

            <% if (userInfo.admin) { %>
            <!-- 관리 사이드바 -->
            <!-- Add "active" class to <li> tag when it selected, it needs jquery -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user-plus"></i><span> 관리</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/management/permission"><i class="fa fa-circle-o"></i> 가입 허가</a></li>
                    <li><a href="/management/position_department"><i class="fa fa-circle-o"></i> 직책 및 부서</a></li>
                    <li>
                        <a href="#">
                            <i class="fa fa-circle-o"></i><span> 데이터베이스 관리</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/management/database_access/member"><i class="fa fa-thumbs-up"></i><span> 직원</span></a></li>
                            <li><a href="/management/database_access/workplace"><i class="fa fa-square"></i><span> 사무실</span></a></li>
                            <li><a href="/management/database_access/beacon"><i class="fa fa-signal"></i> 비콘</a></li>
                            <li><a href="/management/database_access/commute_table"><i class="fa fa-circle-o"></i> 출퇴근 기록</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class=""><a href="/service_environment"><i class="fa fa-cog"></i><span> 환경 설정</span></a></li>
            <% } } %>

            <li class=""><a href="/d3test"><i class="fa fa-bar-chart"></i><span> D3js 테스트 페이지</span></a></li>
            <!--<li><a href="profile"><i class="fa fa-user"></i><span> 개인 정보</span></a></li>-->
        </ul>

        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
<script>

    $(document).ready(function() {

        // Add class "active" to current menu at side vertical navigation bar
        var pathname = $(location).attr('pathname');
        var selector = 'a[href="' + pathname + '"]';

        $(selector).parents('li').addClass('active');

    });

</script>