<!doctype html>
<html>
<head>

    <% include head.ejs %>

    <!-- JQuery -->
    <script>

    </script>

</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <div>
        <% include nav.ejs %>
    </div>

    <!-- Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Panel Header</div>
                    <div class="panel-body">Panel Content</div>
                    <div class="panel-footer">Panel Footer</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Panel Header</div>
                    <div class="panel-body">Panel Content</div>
                    <div class="panel-footer">Panel Footer</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Panel Header</div>
                    <div class="panel-body">Panel Content</div>
                    <div class="panel-footer">Panel Footer</div>
                </div>
            </div>
        </div> <!-- End of .row -->
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Panel Header</div>
                    <div class="panel-body">Panel Content</div>
                    <div class="panel-footer">Panel Footer</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Panel Header</div>
                    <div class="panel-body">Panel Content</div>
                    <div class="panel-footer">Panel Footer</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Panel Header</div>
                    <div class="panel-body">Panel Content</div>
                    <div class="panel-footer">Panel Footer</div>
                </div>
            </div>
        </div> <!-- End of .row -->
    </div> <!-- End of .container-fluid -->

</div> <!-- End of #wrapper -->

</body>
</html>