<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/download_libs/bootstrap-3.3.6-dist/css/bootstrap.css"/>
<style>
    .navbar-fixed-top {  position: relative;  }
</style>

<!-- Jquery -->
<script type="text/javascript" src="/download_libs/jquery-2.2.3.js"></script>
<script type="text/javascript" src="/download_libs/bootstrap-3.3.6-dist/js/bootstrap.js"></script>

<!-- socket.io CDN -->
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

<!-- To get IP Address -->
<script type="text/javascript" src="http://jsgetip.appspot.com"></script>
