<!doctype html>
<html>
<head>
    <% include head.ejs %>
</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <div>
        <% include nav.ejs %>
    </div>

    <!-- Content -->
    <div id="content">
        <div class="container-fluid">

        </div> <!-- End of .container-fluid -->
    </div> <!-- End of #content -->

</div>

</body>
</html>