<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/developer">Development</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/developer">Development</a></li>
            <li><a href="/developer/socket">Send socket event</a></li>
            <li><a href="/developer/database">Database management</a></li>
            <li><a href="/">Iot Project Homepage</a></li>
        </ul>
        <div class="text-info text-right">
            <h5>Your IP is: <script type="text/javascript">document.write(ip());</script></h5>
        </div>
    </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="text-center">
            <div class="text-danger">
                <h3>This page is only for developers</h3>
                <h5>If you are not in, please go back to get your service</h5>
            </div>
        </div>
    </div>
</nav>