<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <% include partials/header.ejs %>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" method="post">
                <div class="form-group">
                    <label class="control-label col-md-4">name_workplace</label>
                    <div class="col-md-4">
                        <input name="name_workplace" type="text" class="form-control" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">location_workplace</label>
                    <div class="col-md-4">
                        <input name="location_workplace" type="text" class="form-control" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">uuid</label>
                    <div class="col-md-4">
                        <input name="uuid" type="text" class="form-control" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">gateway_address</label>
                    <div class="col-md-4">
                        <input name="gateway_address" type="test" class="form-control" required/>
                    </div>
                </div>
                <div class="col-md-8 text-right">
                    <input class="btn btn-primary" type="submit" value="Register"/>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <% include partials/footer.ejs %>
        </div>
    </div>
</div>
</body>
</html>