<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <% include partials/header.ejs %>
        </div>
        <div class="panel-body">
            <% include partials/circumstanceTable.ejs %>
        </div>
        <div class="panel-footer">
            <% include partials/footer.ejs %>
        </div>
    </div>
</div>
</body>
</html>
