<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <% include partials/header.ejs %>
        </div>
        <div class="panel-body">
            <p>
                임시 사용자 웹사이트입니다<br>이 사이트는 곧 다른 구성원이 진행중인 디자인의 사이트로 변경될 것입니다.
            </p>
        </div>
        <div class="panel-footer">
            <% include partials/footer.ejs %>
        </div>
    </div>
</div>
</body>
</html>
