/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.sidenav {
    position: fixed;
    padding: 20px 0 20px 0;
    background-color: #f1f1f1;
    height: 100%;
    text-align: center;
}

.row {
    min-width: 100%;
}

@media screen and (max-width: 1000px) {
    .sidenav {
        position: static;
        height: 100%;
        padding: 15px;
    }
    .row.content {height:auto;}
}


input[type=text].af, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password].af, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit].af {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.af {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
}