/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.sidenav {
    position: fixed;
    padding: 20px 0 20px 0;
    background-color: #f1f1f1;
    height: 100%;
    text-align: center;
}

/* Sticky Footer */
/* http://blog.bloodcat.com/220 */
/* Side Navigation */
/* http://aboooks.tistory.com/82 */
/* http://stackoverflow.com/questions/18601135/bootstrap-fully-100-height-with-a-sidebar */
/* http://stackoverflow.com/questions/20128472/bootstrap-3-0-full-length-body-sidebar */
html, body, .container-fluid, #wrapper-row.row {
    height: 100%;
}

body {
    margin: 0;
}

#body {
    min-height: 100%;
}

#container {
    padding-bottom: 1em;
}

#footer {
    position:fixed;
    margin-top: -5em;
    width:100%;
    height: 5em;
    background-color: #555;
    color: white;
}

.panel {
    width: 100%;
}

.main-info-list {
    height: 20em;
}


@media screen and (max-width: 1000px) {
    .sidenav {
        position: static;
        height: 100%;
        padding: 15px;
    }
    .row.content {height:auto;}
}


input[type=text].af, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password].af, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit].af {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.af {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
}