<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Pace style -->
    <link rel="stylesheet" href="/plugins/pace/pace.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <% include ../nav.ejs %>

    <% include ../sidenav.ejs %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                요약 정보
                <small> 개인 정보 및 출퇴근 요약 정보</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">요약 정보</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-flag-o"></i></span>

                        <div class="info-box-content">
                            <span class="text-center info-box-text">첫 입실 시각</span>
                            <span id="first-come-in-time" class="text-center info-box-number" style="font-size: 35px"></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-flag-checkered"></i></span>

                        <div class="info-box-content">
                            <span class="text-center info-box-text">마지막 퇴실 시각</span>
                            <span id="last-come-out-time" class="text-center info-box-number" style="font-size: 35px"></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-hourglass-half"></i></span>

                        <div class="info-box-content">
                            <span class="text-center info-box-text">오늘 근무 시간</span>
                            <span id="valid-working-time" class="text-center info-box-number" style="font-size: 35px"></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-hourglass-end"></i></span>

                        <div class="info-box-content">
                            <span class="text-center info-box-text">오늘 초과 근무 시간</span>
                            <span id="valid-over-working-time" class="text-center info-box-number" style="font-size: 35px"></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">오늘 장소별 평균</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table id="table-today-workplace-avg" class="table table-hover">
                                <tr>
                                    <th>이름</th>
                                    <th>첫 입실 시간</th>
                                    <th>마지막 퇴실 시간</th>
                                    <th>근무 시간</th>
                                    <th>사용자별 근무 시간</th>
                                    <th>초과 근무 시간</th>
                                    <th>사용자별 초과 근무 시간</th>
                                </tr>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">오늘 부서별 평균</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table id="table-today-department-avg" class="table table-hover">
                                <tr>
                                    <th>이름</th>
                                    <th>첫 입실 시간</th>
                                    <th>마지막 퇴실 시간</th>
                                    <th>근무 시간</th>
                                    <th>사용자별 근무 시간</th>
                                    <th>초과 근무 시간</th>
                                    <th>사용자별 초과 근무 시간</th>
                                </tr>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">오늘 직책별 평균</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table id="table-today-position-avg" class="table table-hover">
                                <tr>
                                    <th>이름</th>
                                    <th>첫 입실 시간</th>
                                    <th>마지막 퇴실 시간</th>
                                    <th>근무 시간</th>
                                    <th>사용자별 근무 시간</th>
                                    <th>초과 근무 시간</th>
                                    <th>사용자별 초과 근무 시간</th>
                                </tr>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <% include ../footer.ejs %>

</div>
<!-- ./wrapper -->
<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery 2.2.3 -->
<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- bootstrap time picker -->
<script src="/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- PACE -->
<script src="/plugins/pace/pace.min.js"></script>
<!-- Common -->
<script src="/commonJqueryFunctions.js"></script>
<script>

    $(document).ajaxStart(function() { Pace.restart(); });

    $(document).ready(function() {
        var currentSmartphoneAddress = $('#current_smartphone_address').text();

        $.post('/post/todayCommuteInfo', {
            smartphone_address: currentSmartphoneAddress
        }, function(resultJson) {
            var todayCommuteInfoJson = commonFunc.clarifyResponsedJsonArr(resultJson.todayCommuteInfo);

            for (var i = 0; i < todayCommuteInfoJson.userList.length; i++) {
                if (todayCommuteInfoJson.userList[i].smartphoneAddress == currentSmartphoneAddress) {
                    $('#first-come-in-time').text(commonFunc.msecToTimeDuration(todayCommuteInfoJson.userList[i].firstComeInTime));
                    $('#last-come-out-time').text(commonFunc.msecToTimeDuration(todayCommuteInfoJson.userList[i].lastComeOutTime));
                    $('#valid-working-time').text(commonFunc.msecToTimeDuration(todayCommuteInfoJson.userList[i].validWorkingTime));
                    $('#valid-over-working-time').text(commonFunc.msecToTimeDuration(todayCommuteInfoJson.userList[i].validOverWorkingTime));

                    break;
                }
            }

            for (var i = 0; i < todayCommuteInfoJson.workplaceList.length; i++) {
                var row =
                        '<tr>' +
                        '<td>' + todayCommuteInfoJson.workplaceList[i].name + '</td>' +
                        '<td>' + commonFunc.msecToTimeDuration(todayCommuteInfoJson.workplaceList[i].avgFirstComeInTime) + '</td>' +
                        '<td>' + commonFunc.msecToTimeDuration(todayCommuteInfoJson.workplaceList[i].avgLastComeOutTime) + '</td>' +
                        '<td>' + commonFunc.msecToTimeDuration(todayCommuteInfoJson.workplaceList[i].avgValidWorkingTime) + '</td>' +
                        '<td>' + commonFunc.msecToTimeDuration(todayCommuteInfoJson.workplaceList[i].avgUserValidWorkingTime) + '</td>' +
                        '<td>' + commonFunc.msecToTimeDuration(todayCommuteInfoJson.workplaceList[i].avgValidOverWorkingTime) + '</td>' +
                        '<td>' + commonFunc.msecToTimeDuration(todayCommuteInfoJson.workplaceList[i].avgUserValidOverWorkingTime) + '</td>' +
                        '</tr>'
                ;

                $('#table-today-workplace-avg').find('tbody:last-child').append(row);
            }

            for (var i = 0; i < todayCommuteInfoJson.departmentList.length; i++) {
                var row =
                        '<tr>' +
                        '<td>' + todayCommuteInfoJson.departmentList[i].name + '</td>' +
                        '<td>' + commonFunc.msecToTimeDuration(todayCommuteInfoJson.departmentList[i].avgFirstComeInTime) + '</td>' +
                        '<td>' + commonFunc.msecToTimeDuration(todayCommuteInfoJson.departmentList[i].avgLastComeOutTime) + '</td>' +
                        '<td>' + commonFunc.msecToTimeDuration(todayCommuteInfoJson.departmentList[i].avgValidWorkingTime) + '</td>' +
                        '<td>' + commonFunc.msecToTimeDuration(todayCommuteInfoJson.departmentList[i].avgUserValidWorkingTime) + '</td>' +
                        '<td>' + commonFunc.msecToTimeDuration(todayCommuteInfoJson.departmentList[i].avgValidOverWorkingTime) + '</td>' +
                        '<td>' + commonFunc.msecToTimeDuration(todayCommuteInfoJson.departmentList[i].avgUserValidOverWorkingTime) + '</td>' +
                        '</tr>'
                    ;

                $('#table-today-department-avg').find('tbody:last-child').append(row);
            }

            for (var i = 0; i < todayCommuteInfoJson.positionList.length; i++) {
                var row =
                        '<tr>' +
                        '<td>' + todayCommuteInfoJson.positionList[i].name + '</td>' +
                        '<td>' + commonFunc.msecToTimeDuration(todayCommuteInfoJson.positionList[i].avgFirstComeInTime) + '</td>' +
                        '<td>' + commonFunc.msecToTimeDuration(todayCommuteInfoJson.positionList[i].avgLastComeOutTime) + '</td>' +
                        '<td>' + commonFunc.msecToTimeDuration(todayCommuteInfoJson.positionList[i].avgValidWorkingTime) + '</td>' +
                        '<td>' + commonFunc.msecToTimeDuration(todayCommuteInfoJson.positionList[i].avgUserValidWorkingTime) + '</td>' +
                        '<td>' + commonFunc.msecToTimeDuration(todayCommuteInfoJson.positionList[i].avgValidOverWorkingTime) + '</td>' +
                        '<td>' + commonFunc.msecToTimeDuration(todayCommuteInfoJson.positionList[i].avgUserValidOverWorkingTime) + '</td>' +
                        '</tr>'
                    ;

                $('#table-today-position-avg').find('tbody:last-child').append(row);
            }
        });
    });

</script>
</body>
</html>