html,body,#wrapper {
	width: 80%;
	height: 80%;
	margin: 0px;
}
 
.chart {
	font-family: Arial, sans-serif;
	font-size: 12px;
}
 
.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
 
.bar {
	fill: #33b5e5;
}
 
.bar-failed {
	fill: #CC0000;
	opacity: 0.7;
}
 
.bar-running {
	fill: #ffbb33;
	opacity: 0.8;
}
 
.bar-succeeded {
	fill: #33b5e5;
	opacity: 0.8;
}
 
.bar-killed {
	fill: #669900;
	opacity: 0.7;
}
 
