<h3>사용자 추가</h3>
<form action="#">
    <label for="smartphone_address">Smartphone_Address</label>
    <input  class="af" type="text" id="smartphone_address" name="sa">

    <label for="employee_number">Employee_Number</label>
    <input class="af" type="text" id="employee_number" name="en">

    <label for="name">Name</label>
    <input class="af" type="text" id="name" name="n">

    <label for="password">Password</label>
    <input class="af" type="password" id="password" name="pw">

    <label for="password_check">Password_Check</label>
    <input class="af" type="password" id="password_check" name="pwc">

    <label for="department">Department</label>
    <input class="af" type="text" id="department" name="dm">

    <label for="position">Position</label>
    <input class="af" type="text" id="position" name="ps">

    <label for="permission">Permition</label>
    <select class="af" id="permission" name="pm">
        <option value="employee">Employee</option>
        <option value="admin">Admin</option>
    </select>

    <input class="af" type="submit" value="Submit">
</form>