<h3>비콘 추가</h3>
<form action="#">
    <label for="UUID">UUID</label>
    <input class="af" type="text" id="UUID" name="UUID">

    <label for="mayor">Mayor</label>
    <input class="af" type="text" id="mayor" name="ma">

    <label for="minor">Minor</label>
    <input class="af" type="text" id="minor" name="min">

    <label for="beacon_address">Beacon_Address</label>
    <input class="af" type="text" id="beacon_address" name="ba">

    <label for="id_workplace">ID_Workplace</label>
    <select class="af" id="id_workplace" name="iw">
        <option value="A">A</option>
        <option value="B">B</option>
    </select>
    <input class="af" type="submit" value="Submit">
</form>